In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import gc # Garbage Collector

In [2]:
# Importing the file 2019-Oct.csv and converting the values of the column "event_time" from string to type datetime64

dataset = pd.read_csv('./data/2019-Oct.csv', 
                      header='infer', 
                      parse_dates=['event_time'],
                     date_parser=pd.to_datetime, nrows=1200000)

# Using this method in order to force the system to try to reclaim the maximum amount of available memory
gc.collect()

0

In [3]:
# Importing the file 2019-Nov.csv and converting the values of the column "event_time" from string to timestamp

dataset_nov = pd.read_csv('./data/2019-Nov.csv', 
                      header='infer', 
                      parse_dates=['event_time'],
                     date_parser=pd.to_datetime, nrows=1200000)

# Using this method in order to force the system to try to reclaim the maximum amount of available memory
gc.collect()

0

In [4]:
# Merging the two datasets into one single dataset and storing the final data into an existing variable in order 
# to use as little memory as possible
dataset = dataset.append(dataset_nov)

# Deleting the unused variable in order to free memory space
del dataset_nov

# Using this method in order to force the system to try to reclaim the maximum amount of available memory
gc.collect()

20

In [5]:
# Storing the data into a pickle file in order to procees it more rapidly instead of processing the two csv files each time 
# we start the session in Jupiter
dataset.to_pickle("data/mergedata")

In [6]:
dataset = pd.read_pickle("data/mergedata")

In [12]:
dataset.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00+00:00,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00+00:00,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01+00:00,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01+00:00,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04+00:00,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [7]:
dataset.head(168)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00+00:00,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00+00:00,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01+00:00,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01+00:00,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04+00:00,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
...,...,...,...,...,...,...,...,...,...
163,2019-10-01 00:02:15+00:00,view,1004767,2053013555631882655,electronics.smartphone,samsung,254.82,551417808,3f2209fb-0fe6-4093-8486-51e52dbda8cf
164,2019-10-01 00:02:16+00:00,view,17200142,2053013559792632471,furniture.living_room.sofa,NaN,543.10,555446365,7f0062d8-ead0-4e0a-96f6-43a0b79a2fc4
165,2019-10-01 00:02:16+00:00,view,4802639,2053013554658804075,electronics.audio.headphone,sony,218.77,514808401,1877639d-46a4-44f8-bae9-a14456952240
166,2019-10-01 00:02:16+00:00,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
167,2019-10-01 00:02:17+00:00,view,28716595,2053013565782098913,apparel.shoes,baden,76.96,525767277,80ca3883-2c25-4475-b829-7fa1b8372db3

In [9]:
print('The dataset is composed of ' + str(dataset.shape[0]) + ' rows and ' + str(dataset.shape[1]) + ' columns.')

The dataset is composed of 2400000 rows and 9 columns.

[RQ7] 
The Pareto principle states that for many outcomes roughly 80% of consequences come from 20% of the causes. Also known as 80/20 rule, in e-commerce simply means that most of your business, around 80%, likely comes from about 20% of your customers.
Prove that the pareto principle applies to your store.

In [ ]:
# sort customers 
customers = customers.groupby(['event_type','user_id']).event_type.count()

In [ ]:
 # convert customers in a data frame in order to sort values
customers = pd.DataFrame(customers)

In [ ]:
 # sort customers value in ascending order to obtain customers that spends more
customers = data.sort_values(['user_id', 'price'], ascending = True)

In [ ]:
 # define profits
def getProfits(brandName):
    profits = pd.DataFrame(dataset[dataset.brand == brandName])

    # Select only the rows with the selled item and calculate the total profits
    profits = pd.DataFrame(profits[dataset.event_type == 'purchase'].groupby(dataset.event_time).price.sum()).reset_index()

    return profits

In [ ]:
 # calculate the 80% of profits
majorityofprofits = profits*80/100

In [ ]:
  # define profits
def actcustomers(brandName):
    customers1 = pd.DataFrame(dataset[dataset.brand == brandName])

    # Select only the rows with the selled item and calculate the total profits
    customers1 = pd.DataFrame(customers1[dataset.event_type == 'purchase'].groupby(dataset.event_time).price.sum()).reset_index()

    return customers1

In [ ]:
 # calculate the 20% of purchases by the 20% biggest spenders
profitsduetocustomers = customers1*20/100